<form action ="/api/user" method="POST">
    <input type = "text" name= "name" placeholder="Enter Name"><br><br>
    <input type = "text" name= "email" placeholder="Enter email"><br><br>
    <input type = "text" name= "address.street" placeholder="Enter Street Name"><br><br>
    <input type = "text" name= "address.city" placeholder="Enter City"><br><br>
    <input type = "text" name= "address.state" placeholder="Enter State"><br><br>
    <input type = "text" name= "address.zipcode" placeholder="Enter Zipcode"><br><br>
    
    <h3>Items</h3>
    <input type="checkbox" id="hoodie" name="items" value="Hoodie">
    <label for="vehicle1"> Hoodie</label><br>
    <input type="checkbox" id="pants" name="items" value="Car">
    <label for="vehicle2"> Pants</label><br>
    <input type="checkbox" id="jacket" name="items" value="Jacket">
    <label for="vehicle3"> Jacket</label><br>

    <button type ='submit'>Submit</button>
</form>