<h2>Add new Bug</h2>
<form name='form1' action='/api/bug' method="POST"> 
    <div>
        <label>Title: </label>
        <input type ="text" id="title" name="title">
    </div>
    <div>
        <label>Description: </label>
        <input type ="text" id="description" name="description">
    </div>
    <div>
        <label>Assignee: </label>
        <input type ="text" id="assignee" name="assignee">
    </div>
    <button type="submit">Add</button>
</form>
