<html>
    <head>
        <script>
            function showIndex(){
                window.location.href = "http://localhost:3000/";
            }
            function show(){
                window.location.href = "http://localhost:3000/api/user";
            }
        </script>
    </head>

    <body>
        <h1>Order Sucessfully placed</h1>
        <button onClick = "showIndex()">Order More</button>
        <button onClick = "show()">Track your order</button>
    </body>
</html>