<!DOCTYPE html>
<html>
    <head>
        <%- include ('./partials/header') %>
    </head>

    <body>
        <div>
            <%-include('./partials/userGrid') %>
        </div>
    </body>
    <%- include ('./partials/footer') %>

</html>
